:root, [data-bs-theme=light] {
  --bs-success: #e06308;
  --bs-success-rgb: 224,99,8;
  --bs-success-text-emphasis: #5A2803;
  --bs-success-bg-subtle: #F9E0CE;
  --bs-success-border-subtle: #F3C19C;
  --bs-info: #1d106f;
  --bs-info-rgb: 29,16,111;
  --bs-info-text-emphasis: #0C062C;
  --bs-info-bg-subtle: #D2CFE2;
  --bs-info-border-subtle: #A59FC5;
  --bs-body-font-family: Fredoka, sans-serif;
  --bs-body-line-height: 1.2;
  --bs-link-hover-color: #d57504;
  --bs-link-hover-color-rgb: 213,117,4;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #e06308;
  --bs-btn-border-color: #e06308;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #E57A2D;
  --bs-btn-hover-border-color: #E37321;
  --bs-btn-focus-shadow-rgb: 34,15,1;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #E68239;
  --bs-btn-active-border-color: #E37321;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #e06308;
  --bs-btn-disabled-border-color: #e06308;
}

.btn-outline-success {
  --bs-btn-color: #e06308;
  --bs-btn-border-color: #e06308;
  --bs-btn-focus-shadow-rgb: 224,99,8;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #e06308;
  --bs-btn-hover-border-color: #e06308;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #e06308;
  --bs-btn-active-border-color: #e06308;
  --bs-btn-disabled-color: #e06308;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e06308;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1d106f;
  --bs-btn-border-color: #1d106f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #190E5E;
  --bs-btn-hover-border-color: #170D59;
  --bs-btn-focus-shadow-rgb: 221,219,233;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #170D59;
  --bs-btn-active-border-color: #160C53;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1d106f;
  --bs-btn-disabled-border-color: #1d106f;
}

.btn-outline-info {
  --bs-btn-color: #1d106f;
  --bs-btn-border-color: #1d106f;
  --bs-btn-focus-shadow-rgb: 29,16,111;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1d106f;
  --bs-btn-hover-border-color: #1d106f;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1d106f;
  --bs-btn-active-border-color: #1d106f;
  --bs-btn-disabled-color: #1d106f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1d106f;
}

.m-0 {
  margin: 0 !important;
}

.m-3 {
  margin: 1rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-2 {
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.me-2 {
  margin-right: .5rem !important;
}

.me-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-2 {
  margin-bottom: .5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ms-2 {
  margin-left: .5rem !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.p-0 {
  padding: 0 !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.px-2 {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.py-2 {
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pe-4 {
  padding-right: 1.5rem !important;
}

@media (min-width: 992px) {
  .mb-lg-5 {
    margin-bottom: 3rem !important;
  }
}

@media (min-width: 992px) {
  .p-lg-5 {
    padding: 3rem !important;
  }
}

@media (min-width: 992px) {
  .py-lg-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }
}

@media (min-width: 992px) {
  .py-lg-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .p-xl-4 {
    padding: 1.5rem !important;
  }
}

@media (min-width: 1200px) {
  .py-xl-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

